.content {
  display: grid;
  gap: 1rem;

  .profile-details {
    background-color: #f8fafc;
    border: solid 1px #f1f5f9;
    border-radius: 0.5rem;
    padding: 0.8rem;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem 1rem;
    align-items: center;

    .label {
      font-weight: bold;
      color: #475569;
    }

    .value {
      color: #1e293b;
    }
  }

  button {
    background-color: #51a2ff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}
