.wrapper {
  width: 100%;

  header {
    padding: 0.8em;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8fafc;
    border-bottom: solid 1px #f1f5f9;

    nav {
      display: flex;
      gap: 1em;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .title {
      font-size: 1.2em;
    }
  }

  main {
    padding: 1em;

    .map-container {
      height: 400px;
      width: 100%;
      margin-bottom: 1rem;
      border: 1px solid #f1f5f9;
      border-radius: 0.5rem;
      overflow: hidden;
    }
  }
}
